

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	color: #000;
	font-family: 'neuzeit-grotesk', sans-serif;
}

body {
	padding-top: 150px;
}
h1, h2, h3 {
	font-family: 'Kalam', cursive;
}

header {
	padding: 40px 0;
	height: 150px;
}

/*.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}*/

.container1 {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 200px;
	align-items: left;
}

.container-flex {
	display: flex;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
}

h1 span {
	font-size: 2.5rem;
	font-weight: 600;
}

h2 {
/*	background-color: red;*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	font-weight: 600;
}

h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	font-weight: 300;
}

h4 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'neuzeit-grotesk', sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
}

h5 {
	display: flex;
	align-items: left;
	justify-content: left;
	font-family: 'neuzeit-grotesk', sans-serif;
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.1em;
}

h6 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'neuzeit-grotesk', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0.1em;
}



nav {
	display: flex;
	align-items: center;
	font-family: 'neuzeit-grotesk', sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	padding-right: -15px;
}

.flex-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-header ul {
	padding: 0;
}

.flex-header ul li {
	display: inline-block;
	width: 120px;
	text-align: center;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #000;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 80;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

header ul {
	padding: 0;
}

header ul li {
	display: inline-block;
	width: 120px;
	text-align: center;
	position: relative;
}

/*header ul li:after {
	content: '|';
	position: absolute;
	top: 0;
	right: 0;
	color: white;
}

header ul li:last-child:after {
	content: '';
}*/

.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: 0 0;
}

.ml1 .line i {
	position: absolute;
	right: 0;
	top: -8px;
	font-size: 20px;
	transform: rotate(45deg);
}

.ml1 .line-bottom { 
	bottom: 0;
}

.burger {
	display: none;
}

section {
	padding: 15px 0;
}

@media (max-width: 767px) {
	nav {
		position: absolute;
		padding-right: 15px;
		top: 120px;
		background-color: rgba(255,255,255,0.3);
		right:-250px;
		transition: right 0.4s;
	}

	.flex-header ul li {
		display: block;
		text-align: left;
		padding: 10px 20px;
	}

	.burger {
		display: flex;
		font-size: 40px;
		align-items: center;
		cursor: pointer;
	}

	.open {
		right: 0px;
	}
}

img {
	max-width: 2000px;
	width: 100%;
	align-items: left;
}

.col-4 {
	padding-top: 30px;
}

/* -------------CAROUSEL-----------------*/

.myCarousel {
	position: relative;
	padding-top: 0;
}

.fa-chevron-left, .fa-chevron-right {
	font-size: 30px;
	position: absolute;
	left: 50px;
	top: 47%;
	transform: translateY(-54%);
	z-index: 999;
	color: #fff;
	text-shadow: 0px 0px 15px #000;
}

.fa-chevron-right {
	left: auto;
	right: 50px;
}

.slick-dots {
	margin: 0;
	padding: 0;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	background: black;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 0 4px;
	opacity: 0.5;
}

.slick-dots li button {
	display: none;
}

.slick-dots li.slick-active {
	opacity: 1;
}


/* ----------------CAROUSEL END-------------------- */


.socials {
	text-align: center;
}

.prevlink {
	font-size: 0.7rem;
	color: grey;
}

.continent h2 {
	align-items: center;
	padding-right: 50px;
}

.article1 h2 {
	border-bottom: solid 1px black;
}

.hero-images img {
	background-size: cover;
}

.img-caption {
	color: black;
	margin: -50px 12px 0 0;
	text-align: right;
}

.img-caption span, .img-caption-cont span {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 7px 7px;
	border-radius: 5px;
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 0.1em;
	border: 0px 0px 15px #000;
}

.img-caption-cont {
	color: white;
	margin: -100px 10px 0 0;
	text-align: center;
	font-size: 2rem;
}

/*----------SEARCH BAR------*/

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  font-weight: 600;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  font-weight: 600;
  color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
}


/* PARALLAX */

.parallax { 
  background-image: url("../images/kyoto-hero.jpeg");
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-lakeohrid { 
  background-image: url("../images/lakeohrid-hero.jpg");
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-lakeohrid-2 { 
  background-image: url("../images/lakeohrid-2.jpg");
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-kotor { 
  background-image: url("../images/kotor-hero.jpg");
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-sarajevo { 
  background-image: url("../images/sarajevo-hero.jpg");
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-sarajevo-2 { 
  background-image: url("../images/sarajevo-2.jpg");
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-jervisbay { 
  background-image: url("../images/jervisbay-hero.jpg");
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-jervisbay-2 { 
  background-image: url("../images/jervisbay-2.jpg");
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* PARALLAX END */

.article {
	text-align: justify;
}

.article h3 {
	align-items: left;
	justify-content: left;
}

.article ul li {
	padding: 20px 15px;
}

.topCarousel a {
	color: white !important;
}

.topCarousel a:hover {
	font-weight: 600;
	text-decoration: none;
}


/* POP-OUT BOX */

#pop-section1 .container, #pop-section2 .container {
	position: relative;
	padding-bottom: 100px;
}

.pop-hero {
	background-color: rgba(245, 245, 245, 0.8);
	padding: 15px 15px;
	border: solid 1px rgb(222, 222, 222);
	/*border-radius: 5px;*/
	position: absolute;
    top: 30%;
    right: 0;
    width: 600px;
    opacity: 0;
    transform: translateX(-300px);
    transition: all 1s;
}

.pop-hero.pop2 {
	left: 0;
	right: auto;
	transform: translateX(300px);
}

.pop-hero h3 {
	padding-top: 15px;
}

.pop-hero p {
	text-align: justify;
	padding: 15px 15px;
}

.active {
	opacity: 1 !important;
	transform: translateX(0) !important;
}

.pop-hero a, a:visited {
	color: black;
}

.pop-hero a:hover {
	color: black;
	text-decoration: none;
}

.image-right img {
	align-items: right;
}

@media screen and (max-width: 767px) {

  .pop-hero, .pop-hero.pop2 {
  	display: block;
  	width: 100%;
  	transform: none;
    width: 100%;
    border: none;
    background-color: white;
    font-size: 0.7rem;
    position: static;
  }

  .pop-hero h3, .pop-hero.pop2 h3 {
  	font-size: 1.2rem;
  }

  .myCarousel span {
  	font-size: 0.7rem;
  }

}

/* POP-OUT BOX END */

/* FADE IN */

.hideme
{
    opacity:0;
}

/* FADE IN END */

/* OVERLAY */

.p-8 {
	padding: 0 8px;
}

.image-box {
  position: relative;
  margin: 0 7px;
}

.image-box:last-child {
	margin-right: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  transition: opacity 0.4s;
}

.image-box:hover .overlay {
  opacity: 1;
}

/* OVERLAY END */

/* DESTINATIONS FILTER*/


.container {
  overflow: hidden;
}

.filterDiv {
  display: none;
}

.filterDiv img {
	height: 100px;
	width: auto;
	padding: 10px 0;
}

@media (max-width: 767px) {
	
	.filterDiv img {
		height: 30%;
		width: 100%;
		padding: 10px 0;
	}
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
}

button {
	margin-right: 20px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #000;
  color: white;
}

.btn:clicked {
	background-color: #fff;
}

/* DESTINATIONS FILTER END */

.socials {
	padding: 30px 0;
	display: block;
}

.social i {
	font-size: 2rem;
	padding: 0 15px;
	color: black;
	cursor: pointer;
	transition: all 0.3s ease;
}

.social i:hover {
	transform: scale(1.4);
}

.foot p {
	text-align: center;
}